@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    margin: 15px 10px;
    padding: 20px; 
}

/* header */
header {
    background-color:darkslateblue;
    color:azure;
}

.site-name {
    color:cadetblue;
    margin:10px;
    padding: 10px;
    font-size: 32px;
    text-align:center;
}

/* nav{
    text-align: right;
} */

.navigation {
    list-style-type: none;
    /* text-align:right; */
    padding: 5px;
    margin: 10px;   
}

.navigation li {
    display: flex;
    margin-right: 20px;
    /* text-align:right;    */
}

.navigation li a {
    color:azure;
    text-decoration: underline;
    font-size: 12px;
}

/* section */
/*to edit about the author, contact, etc.*/

/* footer */
footer {
    background-color:darkslateblue;
    padding: 5px;
    text-align:
}
  
footer p {
    color:azure;
    font-size: 12px;
    margin: 10px;
}